.dolano-color-primary-0 {
    background-color: #36A4B3;
    color: white;
}

.dolano-color-primary-1 {
    background-color: #89D5E0;
    color: white;
}

.dolano-color-primary-2 {
    background-color: #58BBC9;
    color: white;
}

.dolano-color-primary-3 {
    background-color: #1990A0;
    color: white;
}

.dolano-color-primary-4 {
    background-color: #057484;
    color: white;
}

.dolano-color-secondary-1-0 {
    background-color: #4665BF;
    color: white;
}

.dolano-color-secondary-1-1 {
    background-color: #95A9E5;
    color: white;
}

.dolano-color-secondary-1-2 {
    background-color: #6882D2;
    color: white;
}

.dolano-color-secondary-1-3 {
    background-color: #2A4BAF;
    color: white;
}

.dolano-color-secondary-1-4 {
    background-color: #133291;
    color: white;
}

.dolano-color-secondary-2-0 {
    background-color: #FFC64A;
    color: white;
}

.dolano-color-secondary-2-1 {
    background-color: #FFDF9A;
    color: white;
}

.dolano-color-secondary-2-2 {
    background-color: #FFD16E;
    color: white;
}

.dolano-color-secondary-2-3 {
    background-color: #FFBA24;
    color: white;
}

.dolano-color-secondary-2-4 {
    background-color: #D79404;
    color: white;
}

.dolano-color-complement-0 {
    background-color: #FFA14A;
    color: white;
}

.dolano-color-complement-1 {
    background-color: #FFCB9A;
    color: white;
}

.dolano-color-complement-2 {
    background-color: #FFB36E;
    color: white;
}

.dolano-color-complement-3 {
    background-color: #FF8D24;
    color: white;
}

.dolano-color-complement-4 {
    background-color: #D76904;
    color: white;
}
