.bgc_dolano {
    background-color: #36a5b3;
}

.c_dolano {
    color: #36a5b3;
}

.t_w {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 512px;
}

.verify_btn {
    display: block;
    left: auto;
    right: auto;
    margin: 35px;
    margin-left: 50px;
    margin-right: 50px;

    padding-bottom: 55px;
    border-radius: 15px;
}
